ccReg/schemas/contact-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

  <schema targetNamespace="http://www.nic.cz/xml/epp/contact-1.0"
          xmlns:contact="http://www.nic.cz/xml/epp/contact-1.0"
          xmlns:eppcom="urn:ietf:params:xml:ns:eppcom-1.0"
          xmlns:fredcom="http://www.nic.cz/xml/epp/fredcom-1.0"
          xmlns="http://www.w3.org/2001/XMLSchema"
          elementFormDefault="qualified">

  <!--
  Import common element types.
  -->
    <import namespace="urn:ietf:params:xml:ns:eppcom-1.0"
            schemaLocation="eppcom-1.0.xsd"/>
    <import namespace="http://www.nic.cz/xml/epp/fredcom-1.0"
            schemaLocation="fredcom-1.0.xsd"/>

    <annotation>
      <documentation>
        Extension to Extensible Provisioning Protocol v1.0
        contact provisioning schema.
      </documentation>
    </annotation>

  <!--
  Child elements found in EPP commands.
  -->
    <element name="check" type="contact:mIDType"/>
    <element name="create" type="contact:createType"/>
    <element name="delete" type="contact:sIDType"/>
    <element name="info" type="contact:authIDType"/>
    <element name="transfer" type="contact:authIDType"/>
    <element name="update" type="contact:updateType"/>
    <!-- list contacts extension -->
    <element name="list"/>

  <!--
  Utility types.
  -->
    <simpleType name="ccType">
      <restriction base="token">
        <length value="2"/>
      </restriction>
    </simpleType>

    <simpleType name="e164StringType">
      <restriction base="token">
        <pattern value="(\+[0-9]{1,3}\.[0-9]{1,14})?"/>
        <maxLength value="17"/>
      </restriction>
    </simpleType>

    <simpleType name="pcType">
      <restriction base="token">
        <maxLength value="16"/>
      </restriction>
    </simpleType>

    <simpleType name="postalLineType">
       <restriction base="normalizedString">
         <minLength value="1"/>
         <maxLength value="255"/>
       </restriction>
    </simpleType>

    <simpleType name="optPostalLineType">
       <restriction base="normalizedString">
         <maxLength value="255"/>
       </restriction>
    </simpleType>

  <!--
  Child elements of the <create> command.
  -->
    <complexType name="createType">
      <sequence>
        <element name="id" type="fredcom:objIDType"/>
        <element name="postalInfo" type="contact:postalInfoType"/>
        <element name="voice" type="contact:e164StringType"
         minOccurs="0"/>
        <element name="fax" type="contact:e164StringType"
         minOccurs="0"/>
        <element name="email" type="eppcom:minTokenType"/>
        <element name="authInfo" type="contact:authInfoType"/>
        <element name="disclose" type="contact:discloseType"
         minOccurs="0"/>
        <element name="vat" type="contact:vatT"
	minOccurs="0"/>
        <element name="ssn" type="contact:ssnT"
	minOccurs="0"/>
        <element name="notifyEmail" type="eppcom:minTokenType"
	minOccurs="0"/>
      </sequence>
    </complexType>

    <complexType name="postalInfoType">
      <sequence>
        <element name="name" type="contact:postalLineType"/>
        <element name="org" type="contact:optPostalLineType"
         minOccurs="0"/>
        <element name="addr" type="contact:addrType"/>
      </sequence>
    </complexType>

    <complexType name="addrType">
      <sequence>
        <element name="street" type="contact:optPostalLineType"
         minOccurs="0" maxOccurs="3"/>
        <element name="city" type="contact:postalLineType"/>
        <element name="sp" type="contact:optPostalLineType"
         minOccurs="0"/>
        <element name="pc" type="contact:pcType"
         minOccurs="0"/>
        <element name="cc" type="contact:ccType"/>
      </sequence>
    </complexType>

    <complexType name="authInfoType">
      <choice>
        <element name="pw" type="fredcom:pwAuthInfoType"/>
        <element name="ext" type="eppcom:extAuthInfoType"/>
      </choice>
    </complexType>
    <complexType name="discloseType">
      <sequence>
        <element name="name" minOccurs="0"/>
        <element name="org" minOccurs="0"/>
        <element name="addr" minOccurs="0"/>
        <element name="voice" minOccurs="0"/>
        <element name="fax" minOccurs="0"/>
        <element name="email" minOccurs="0"/>
      </sequence>
      <attribute name="flag" type="boolean" use="required"/>
    </complexType>

  <!--
  Child element of commands that require only an identifier.
  -->
    <complexType name="sIDType">
      <sequence>
        <element name="id" type="fredcom:objIDType"/>
      </sequence>
    </complexType>

  <!--
  Child element of commands that accept multiple identifiers.
  -->
    <complexType name="mIDType">
      <sequence>
        <element name="id" type="fredcom:objIDType"
         maxOccurs="unbounded"/>
      </sequence>
    </complexType>

    <!--  VAT type -->
    <simpleType name="vatT">
      <restriction base="token">
        <maxLength value="20"/>
      </restriction>
    </simpleType>

    <!--  SSN type -->
    <complexType name="ssnT">
      <simpleContent>
        <extension base="contact:ssnValueT">
          <attribute name="type" type="contact:ssnTypeT" use="required"/>
        </extension>
      </simpleContent>
    </complexType>

    <complexType name="ssnUpdT">
      <simpleContent>
        <extension base="contact:ssnValueT">
          <attribute name="type" type="contact:ssnTypeT"/>
        </extension>
      </simpleContent>
    </complexType>

    <simpleType name="ssnValueT">
      <restriction base="token">
        <maxLength value="32"/>
      </restriction>
    </simpleType>

    <simpleType name="ssnTypeT">
      <restriction base="token">
        <enumeration value="op"/>
        <enumeration value="rc"/>
        <enumeration value="passport"/>
        <enumeration value="mpsv"/>
        <enumeration value="ico"/>
      </restriction>
    </simpleType>

  <!--
  Child elements of the <info> and <transfer> commands.
  -->
    <complexType name="authIDType">
      <sequence>
        <element name="id" type="fredcom:objIDType"/>
        <element name="authInfo" type="contact:authInfoType"
         minOccurs="0"/>
      </sequence>
    </complexType>

  <!--
  Child elements of the <update> command.
  -->
    <complexType name="updateType">
      <sequence>
        <element name="id" type="fredcom:objIDType"/>
        <element name="add" type="contact:addRemType"
         minOccurs="0"/>
        <element name="rem" type="contact:addRemType"
         minOccurs="0"/>
        <element name="chg" type="contact:chgType"
         minOccurs="0"/>
      </sequence>
    </complexType>

  <!--
  Data elements that can be added or removed.
  -->
    <complexType name="addRemType">
      <sequence>
        <element name="status" type="contact:statusType"
         maxOccurs="5"/>
      </sequence>
    </complexType>

  <!--
  Data elements that can be changed.
  -->
    <complexType name="chgType">
      <sequence>
        <element name="postalInfo" type="contact:chgPostalInfoType"
         minOccurs="0"/>
        <element name="voice" type="contact:e164StringType"
         minOccurs="0"/>
        <element name="fax" type="contact:e164StringType"
         minOccurs="0"/>
        <element name="email" type="eppcom:minTokenType"
         minOccurs="0"/>
        <element name="authInfo" type="contact:authInfoType"
         minOccurs="0"/>
        <element name="disclose" type="contact:discloseType"
         minOccurs="0"/>
        <element name="vat" type="contact:vatT"
	 minOccurs="0"/>
        <element name="ssn" type="contact:ssnUpdT"
	 minOccurs="0"/>
        <element name="notifyEmail" type="eppcom:minTokenType"
         minOccurs="0"/>
      </sequence>
    </complexType>

    <complexType name="chgPostalInfoType">
      <sequence>
        <element name="name" type="contact:postalLineType"
         minOccurs="0"/>
        <element name="org" type="contact:optPostalLineType"
         minOccurs="0"/>
        <element name="addr" type="contact:addrType"
         minOccurs="0"/>
      </sequence>
    </complexType>

  <!--
  Child response elements.
  -->
    <element name="chkData" type="contact:chkDataType"/>
    <element name="creData" type="contact:creDataType"/>
    <element name="infData" type="contact:infDataType"/>
	<!--
    <element name="panData" type="contact:panDataType"/>
    <element name="trnData" type="contact:trnDataType"/>
	-->
    <!-- list contacts extension -->
    <element name="listData" type="contact:listDataType"/>

  <!--
  <check> response elements.
  -->
    <complexType name="chkDataType">
      <sequence>
        <element name="cd" type="contact:checkType"
         maxOccurs="unbounded"/>
      </sequence>
    </complexType>

    <complexType name="checkType">
      <sequence>
        <element name="id" type="contact:checkIDType"/>
        <element name="reason" type="eppcom:reasonType"
         minOccurs="0"/>
      </sequence>
    </complexType>

    <complexType name="checkIDType">
      <simpleContent>
        <extension base="fredcom:objIDType">
          <attribute name="avail" type="boolean"
           use="required"/>
        </extension>
      </simpleContent>
    </complexType>
  <!--
  <create> response elements.
  -->
    <complexType name="creDataType">
      <sequence>
        <element name="id" type="fredcom:objIDType"/>
        <element name="crDate" type="dateTime"/>
      </sequence>
    </complexType>

  <!--
  <info> response elements.
  -->
    <complexType name="infDataType">
      <sequence>
        <element name="id" type="fredcom:objIDType"/>
        <element name="roid" type="eppcom:roidType"/>
        <element name="status" type="contact:statusType"
         maxOccurs="5"/>
        <element name="postalInfo" type="contact:postalInfoType"
         maxOccurs="2"/>
        <element name="voice" type="contact:e164StringType"
         minOccurs="0"/>
        <element name="fax" type="contact:e164StringType"
         minOccurs="0"/>
        <element name="email" type="eppcom:minTokenType"/>
        <element name="clID" type="eppcom:clIDType"/>
        <element name="crID" type="eppcom:clIDType"/>
        <element name="crDate" type="dateTime"/>
        <element name="upID" type="eppcom:clIDType"
         minOccurs="0"/>
        <element name="upDate" type="dateTime"
         minOccurs="0"/>
        <element name="trDate" type="dateTime"
         minOccurs="0"/>
        <element name="authInfo" type="contact:authInfoType"
         minOccurs="0"/>
        <element name="disclose" type="contact:discloseType"
         minOccurs="0"/>
        <element name="vat" type="contact:vatT"
	minOccurs="0"/>
        <element name="ssn" type="contact:ssnT"
	minOccurs="0"/>
        <element name="notifyEmail" type="eppcom:minTokenType"
	minOccurs="0"/>
      </sequence>
    </complexType>

  <!--
  Status is a combination of attributes and an optional human-readable
  message that may be expressed in languages other than English.
  -->
    <complexType name="statusType">
      <simpleContent>
        <extension base="normalizedString">
          <attribute name="s" type="contact:statusValueType"
           use="required"/>
          <attribute name="lang" type="language"
           default="en"/>
        </extension>
      </simpleContent>
    </complexType>

    <simpleType name="statusValueType">
      <restriction base="token">
        <enumeration value="clientDeleteProhibited"/>
        <enumeration value="clientUpdateProhibited"/>
        <enumeration value="linked"/>
        <enumeration value="ok"/>
        <enumeration value="clientTransferProhibited"/>
	<!--
        <enumeration value="pendingCreate"/>
        <enumeration value="pendingDelete"/>
        <enumeration value="pendingTransfer"/>
        <enumeration value="pendingUpdate"/>
	-->
        <enumeration value="serverTransferProhibited"/>
        <enumeration value="serverDeleteProhibited"/>
        <enumeration value="serverUpdateProhibited"/>
      </restriction>
    </simpleType>

    <complexType name="listDataType">
      <sequence>
        <element name="id" type="fredcom:objIDType"
         minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
    </complexType>

  <!--
  End of schema.
  -->
  </schema>
