ccReg/schemas/domain-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

  <schema targetNamespace="http://www.nic.cz/xml/epp/domain-1.0"
          xmlns:domain="http://www.nic.cz/xml/epp/domain-1.0"
          xmlns:eppcom="urn:ietf:params:xml:ns:eppcom-1.0"
          xmlns:fredcom="http://www.nic.cz/xml/epp/fredcom-1.0"
          xmlns="http://www.w3.org/2001/XMLSchema"
          elementFormDefault="qualified">

  <!--
  Import common element types.
  -->
    <import namespace="urn:ietf:params:xml:ns:eppcom-1.0"
            schemaLocation="eppcom-1.0.xsd"/>
    <import namespace="http://www.nic.cz/xml/epp/fredcom-1.0"
            schemaLocation="fredcom-1.0.xsd"/>

    <annotation>
      <documentation>
        Extension to Extensible Provisioning Protocol v1.0
        domain provisioning schema.
      </documentation>
    </annotation>

  <!--
  Child elements found in EPP commands.
  -->
    <element name="check" type="domain:mNameType"/>
    <element name="create" type="domain:createType"/>
    <element name="delete" type="domain:sNameType"/>
    <element name="info" type="domain:infoType"/>
    <element name="renew" type="domain:renewType"/>
    <element name="transfer" type="domain:transferType"/>
    <element name="update" type="domain:updateType"/>
    <element name="list"/>

  <!--
  Child elements of the <create> command.
  -->
    <complexType name="createType">
      <sequence>
        <element name="name" type="eppcom:labelType"/>
        <element name="period" type="domain:periodType"
         minOccurs="0"/>
        <element name="nsset" type="eppcom:labelType"
         minOccurs="0"/>
        <element name="registrant" type="fredcom:objIDType"/>
        <element name="admin" type="fredcom:objIDType"
         minOccurs="0" maxOccurs="unbounded"/>
        <element name="authInfo" type="domain:authInfoType"
	minOccurs="0"/>
      </sequence>
    </complexType>

    <complexType name="periodType">
      <simpleContent>
        <extension base="domain:pLimitType">
          <attribute name="unit" type="domain:pUnitType"
           use="required"/>
        </extension>
      </simpleContent>
    </complexType>

    <simpleType name="pLimitType">
      <restriction base="unsignedShort">
        <minInclusive value="1"/>
        <maxInclusive value="99"/>
      </restriction>
    </simpleType>

    <simpleType name="pUnitType">
      <restriction base="token">
        <enumeration value="y"/>
        <enumeration value="m"/>
      </restriction>
    </simpleType>

    <complexType name="authInfoType">
      <choice>
        <element name="pw" type="fredcom:pwAuthInfoType"/>
        <element name="ext" type="eppcom:extAuthInfoType"/>
      </choice>
    </complexType>

  <!--
  Child element of commands that require a single name.
  -->
    <complexType name="sNameType">
      <sequence>
        <element name="name" type="eppcom:labelType"/>
      </sequence>
    </complexType>
  <!--
  Child element of commands that accept multiple names.
  -->
    <complexType name="mNameType">
      <sequence>
        <element name="name" type="eppcom:labelType"
         maxOccurs="unbounded"/>
      </sequence>
    </complexType>

  <!--
  Child elements of the <info> command.
  -->
    <complexType name="infoType">
      <sequence>
        <element name="name" type="eppcom:labelType"/>
        <element name="authInfo" type="domain:authInfoType"
         minOccurs="0"/>
      </sequence>
    </complexType>

  <!--
  Child elements of the <renew> command.
  -->
    <complexType name="renewType">
      <sequence>
        <element name="name" type="eppcom:labelType"/>
        <element name="curExpDate" type="date"/>
        <element name="period" type="domain:periodType"
         minOccurs="0"/>
      </sequence>
    </complexType>

  <!--
  Child elements of the <transfer> command.
  -->
    <complexType name="transferType">
      <sequence>
        <element name="name" type="eppcom:labelType"/>
	<!--
        <element name="period" type="domain:periodType"
         minOccurs="0"/>
	 -->
        <element name="authInfo" type="domain:authInfoType"
         minOccurs="0"/>
      </sequence>
    </complexType>

  <!--
  Child elements of the <update> command.
  -->
    <complexType name="updateType">
      <sequence>
        <element name="name" type="eppcom:labelType"/>
        <element name="add" type="domain:addRemType"
         minOccurs="0"/>
        <element name="rem" type="domain:addRemType"
         minOccurs="0"/>
        <element name="chg" type="domain:chgType"
         minOccurs="0"/>
      </sequence>
    </complexType>

  <!--
  Data elements that can be added or removed.
  -->
    <complexType name="addRemType">
      <sequence>
        <element name="admin" type="fredcom:objIDType"
         minOccurs="0" maxOccurs="unbounded"/>
        <element name="status" type="domain:statusType"
         minOccurs="0" maxOccurs="8"/>
      </sequence>
    </complexType>

  <!--
  Data elements that can be changed.
  -->

    <complexType name="chgType">
      <sequence>
        <element name="nsset" type="eppcom:labelType"
         minOccurs="0"/>
        <element name="registrant" type="domain:clIDChgType"
         minOccurs="0"/>
        <element name="authInfo" type="domain:authInfoChgType"
         minOccurs="0"/>
      </sequence>
    </complexType>

  <!--
  Allow the registrant value to be nullified by changing the
  minLength restriction to "0".
  -->
    <simpleType name="clIDChgType">
      <restriction base="token">
        <minLength value="0"/>
        <maxLength value="16"/>
      </restriction>
    </simpleType>

  <!--
  Allow the authInfo value to be nullified by including an
  empty element within the choice.
  -->
    <complexType name="authInfoChgType">
      <choice>
        <element name="pw" type="fredcom:pwAuthInfoType"/>
        <element name="ext" type="eppcom:extAuthInfoType"/>
        <element name="null"/>
      </choice>
    </complexType>

  <!--
  Child response elements.
  -->
    <element name="chkData" type="domain:chkDataType"/>
    <element name="creData" type="domain:creDataType"/>
    <element name="infData" type="domain:infDataType"/>
    <element name="renData" type="domain:renDataType"/>
    <!-- list domains extension -->
    <element name="listData" type="domain:listDataType"/>

  <!--
  <check> response elements.
  -->
    <complexType name="chkDataType">
      <sequence>
        <element name="cd" type="domain:checkType"
         maxOccurs="unbounded"/>
      </sequence>
    </complexType>

    <complexType name="checkType">
      <sequence>
        <element name="name" type="domain:checkNameType"/>
        <element name="reason" type="eppcom:reasonType"
         minOccurs="0"/>
      </sequence>
    </complexType>

    <complexType name="checkNameType">
      <simpleContent>
        <extension base="eppcom:labelType">
          <attribute name="avail" type="boolean"
           use="required"/>
        </extension>
      </simpleContent>
    </complexType>

  <!--
  <create> response elements.
  -->
    <complexType name="creDataType">
      <sequence>
        <element name="name" type="eppcom:labelType"/>
        <element name="crDate" type="dateTime"/>
        <element name="exDate" type="dateTime"
         minOccurs="0"/>
      </sequence>
    </complexType>

  <!--
  <info> response elements.
  -->
    <complexType name="infDataType">
      <sequence>
        <element name="name" type="eppcom:labelType"/>
        <element name="roid" type="eppcom:roidType"/>
        <element name="status" type="domain:statusType"
         minOccurs="0" maxOccurs="8"/>
	<!--
	optional registrant is hack for hiding indentity of e164
	number holder
	-->
        <element name="registrant" type="fredcom:objIDType"
         minOccurs="0"/>
        <element name="admin" type="fredcom:objIDType"
         minOccurs="0" maxOccurs="unbounded"/>
        <element name="nsset" type="eppcom:labelType"
         minOccurs="0"/>
        <element name="clID" type="eppcom:clIDType"/>
        <element name="crID" type="eppcom:clIDType"
         minOccurs="0"/>
        <element name="crDate" type="dateTime"
         minOccurs="0"/>
        <element name="upID" type="eppcom:clIDType"
         minOccurs="0"/>
        <element name="upDate" type="dateTime"
         minOccurs="0"/>
        <element name="exDate" type="dateTime"
         minOccurs="0"/>
        <element name="trDate" type="dateTime"
         minOccurs="0"/>
        <element name="authInfo" type="domain:authInfoType"
         minOccurs="0"/>
      </sequence>
    </complexType>

  <!--
  Status is a combination of attributes and an optional human-readable
  message that may be expressed in languages other than English.
  -->
    <complexType name="statusType">
      <simpleContent>
        <extension base="normalizedString">
          <attribute name="s" type="domain:statusValueType"
           use="required"/>
          <attribute name="lang" type="language"
           default="en"/>
        </extension>
      </simpleContent>
    </complexType>

    <simpleType name="statusValueType">
      <restriction base="token">
        <enumeration value="clientDeleteProhibited"/>
        <enumeration value="clientRenewProhibited"/>
        <enumeration value="clientTransferProhibited"/>
        <enumeration value="clientUpdateProhibited"/>
        <enumeration value="ok"/>
        <enumeration value="serverDeleteProhibited"/>
        <enumeration value="serverRenewProhibited"/>
        <enumeration value="serverTransferProhibited"/>
        <enumeration value="serverUpdateProhibited"/>
      </restriction>
    </simpleType>

  <!--
  <renew> response elements.
  -->
    <complexType name="renDataType">
      <sequence>
        <element name="name" type="eppcom:labelType"/>
        <element name="exDate" type="dateTime"
         minOccurs="0"/>
      </sequence>
    </complexType>

    <complexType name="listDataType">
      <sequence>
        <element name="name" type="eppcom:labelType"
         minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
    </complexType>

  <!--
  End of schema.
  -->
  </schema>


